.spinner {
  display: block;
  margin: 350px auto;
}

.card {
  margin: 25px;
  box-shadow: 1px 1px black;

  &:hover {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  }

  &__title {
    text-align: center;
    margin-top: 25px;
    color: black;
  }

  &__button {
    margin: 25px auto;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50px;
  }
}

.card a {
  text-decoration: none;
}

.search {
  margin: 25px auto;
}

.list-group-item {
  overflow-wrap: break-word;
}

.character__img {
  margin: 0 auto;
  display: block;
}

/*********** About Page *************
*************************************/

.about {
  margin: 25px auto;
}

// Accordion
.dropDown {
  &__header {
    display: flex;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
    }

    &--arrow {
      align-self: center;
      font-size: 1.5em;
    }
  }
}
