@import "variables";

.container {
  background-color: rgba($black, 0.5);
  padding: 25px;
  margin-top: 25px;
}

// loader icon
.spinner {
  display: block;
  margin: 350px auto;
}

/*********** Home Page *************
*************************************/

// No search result message
.errorMsg {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &__title {
    margin-top: 50px;
    color: red;

    &--text {
      padding-top: 10px;
      color: $green;
    }
  }
}

// Search
.search {
  margin: 25px auto;
}

// Card
.card {
  margin: 25px;
  box-shadow: 1px 1px $black;

  &:hover {
    box-shadow: 3px 3px rgba($black, 0.5);
  }

  &__title {
    text-align: center;
    margin-top: 25px;
    color: $black;
    font-family: $aktiv-grotesk;
  }

  &__button {
    margin: 25px auto;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50px;
  }
}

.card a {
  text-decoration: none;
}

/*********** Character Page *************
*************************************/

.list-group-item {
  overflow-wrap: break-word;
  background: none;
  color: white;
  border-bottom: 1px solid $black;
}

.character__img {
  margin: 0 auto;
  display: block;
}

/*********** About Page *************
*************************************/

.about {
  margin: 25px auto;
  color: $white;
}

// Accordion
.dropDown {
  &__header {
    display: flex;
    justify-content: space-between;
    background-color: $blue;
    color: $white;
    font-family: $aktiv-grotesk;

    &:hover {
      cursor: pointer;
    }

    &--arrow {
      align-self: center;
      font-size: 1.5em;
    }

    &--text {
      color: $black;
    }
  }
}

/*********** Contact Page *************
*************************************/

.contact {
  margin: 25px auto;
  color: $white;
  padding-bottom: 20px;

  &__title {
    margin: 25px auto;
  }

  &__btn {
    float: right;
  }
}

.form-text {
  color: red;
  text-shadow: 1px 1px black;
}
